node_modules/
.idea/
bower_components/
.nodemonignore
.env
Playground.js
report.html
dump.rdb
storage/logs
/bundles
.DS_Store
yarn-error.log
storage/subscription-key.pem
privatekey.pem
publiccert.pem
uploads/
webpack-stats.json
subscription-key.pem